body{
    background-color: red;
}

.header{
    background-color: azure;
    min-width: 375px;
    height: 15vh;
}
.logo{
    display: inline-block;
    margin: 10px;

}
.nav{
    display: inline-block;
    list-style: none;
    position: absolute;
    right: 5em;
}
.nav-element li{
    display: inline-block;
}
.nav-element li a{
    font-style: italic;
    text-decoration: none;
    color: blue;

}
