body{
    background-color: red;
    display: inline;
}

.header{
    background-color: azure;
    min-width: 375px;
    height: 15vh;
}
.logo{
    display: inline-block;
    margin: 10px;

}
.nav{
    display: inline-block;
    list-style: none;
    position: absolute;
    right: 5em;
}
.nav-element li{
    display: inline-block;
}
.nav-element li a{
    font-style: italic;
    text-decoration: none;
    color: blue;

}
.principal{
    display: inline-block;
}
.lateral{
    display: inline-block;
    height: 85vh;
    width: 25vw;
    background-color: rgb(255, 115, 0);
    position: absolute;

}

.elemento-lateral{
    display: block;
    background-color: rgba(247, 226, 39, 0.671);
    width: 20vw;
    height: 18vh;
    border-radius: 5px;
    margin: 0 auto;
}

.content{
    position: relative;
    left: 26vw;
    margin-right: 28%;
}