body{
    background-color: rosybrown;
    display: block;
}

.header{
    background-color: azure;
    min-width: 375px;
    height: 10vh;
}
.logo{
    display: inline-block;
    margin: 10px;

}
.nav{
    display: inline-block;
    list-style: none;
    position: absolute;
    right: 5em;
}

.principal{
    display: inline;
}

.nav-element li{
    display: inline-block;
}
.nav-element li a{
    font-style: italic;
    text-decoration: none;
    color: blue;

}


.lateral{
    display: inline-block;
    height: 80vh;
    width: 25vw;
    background-color: rgb(255, 115, 0);
    position: absolute;

}

.elemento-lateral{
    display: block;
    background-color: rgba(247, 226, 39, 0.671);
    width: 20vw;
    height: 15vh;
    border-radius: 5px;
    margin: 3vh;
}

.content{
    position: relative;
    left: 26vw;
    min-height: 77.5vh;
    margin-right: 28%;
}

.footer{
    background-color: azure;
    height: 10vh;
}

.footer div{
    display: inline-block;
    padding: 10px;  
}

.footer-redes{
    position: absolute;
    right: 0;
}
